<h1>New Bulk Discount Form</h1>

<div id="new_discount_form">
  <%= form_with url: merchant_bulk_discounts_path(@merchant.id), method: :post, local: true do |f| %>
    <%= f.label :name, "Discount Percentage: " %>
    <%= f.number_field :percentage_discount, in: 1..99, step: 1 %><br>
    <%= f.label :name, "Item Quantity Threshold: " %>
    <%= f.number_field :quantity_threshold, in: 1..1000, step: 1 %><br>
    <%= f.submit "Create" %>
  <% end %>
</div>
